.app.dark {
  --bg-color: black;
  --inverted-bg-color: white;
  --primary-color: white;
  --secondary-color: rgb(200, 200, 200);
  --inverted-primary-color: black;
  --inverted-secondary-color: rgb(40, 40, 40);
}
