.app.dark {
  --bg-color: black;
  --inverted-bg-color: white;
  --primary-color: white;
  --secondary-color: rgb(200, 200, 200);
  --inverted-primary-color: rgb(7, 11, 207);
  --inverted-secondary-color: rgb(24, 68, 192);
}
