:root {
    --bg-color: white;
    --inverted-bg-color: black;

    --primary-color: rgb(7, 11, 207);
    --secondary-color: rgb(24, 68, 192);
    --inverted-primary-color: white;
    --inverted-secondary-color: rgb(200, 200, 200);
}